$border-color: #d2d2d2;
$border-color-hover: #7e7e7e;
$input-background: #FFF;


.filterSearchBox {
  font-size: 15px;

  .filterBox {
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 20px;
    margin-bottom: 20px;

    p,
    label {
      display: flex;
      margin-right: 5px;
    }

    .filterItem {
      display: flex;
      cursor: pointer;

      &:hover {

        select,
        input {
          border-color: $border-color-hover;
        }
      }

      select {
        border: 1px solid $border-color;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        background: $input-background;
        padding: 2px 7px;
        box-sizing: border-box;
        height: 22px;

        &:hover {
          border-color: $border-color-hover;
        }
      }
    }
  }

  .isOpenCheckbox {
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    &:hover input[type=checkbox] {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border: 1px solid $border-color-hover;
        top: 0;
        left: 0;
        background: $input-background;
        border-radius: 2px;
      }
    }

    label {
      margin-right: 5px;
      cursor: pointer;
    }

      input[type=checkbox] {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        outline: none;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border: 1px solid $border-color;
          top: 0;
          left: 0;
          background: $input-background;
          border-radius: 2px;
        }

        &:checked {
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $input-background;
            background-image: url(../../assets/images/check.svg);
            border-color: $border-color-hover;
          }
        }
      }
    }

    .searchResetWrap {
      display: flex;
      justify-content: space-between;

      .searchBar {
        display: flex;
        width: 50%;

        input {
          height: 30px;
          padding: 7px 10px;
          box-sizing: border-box;
          border: 1px solid $border-color;
          border-radius: 2px;
          display: inline-block;
          flex: 1;

          &:hover,
          &:focus {
            border-color: $border-color-hover;
          }
        }
      }

      button {
        border: 1px solid $border-color;
        border-radius: 2px;
        padding: 7px 10px;
        cursor: pointer;
        background-color: $input-background;

        &:hover {
          background-color: $border-color;
          border-color: $border-color-hover;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }
