@import "../../media_mixin.scss";

.RestaurantCard {
  padding: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: rgba(#ffffff, 0.3);
  box-shadow: 1px 2px 20px darken(#ffffff, 30);

  .textbox {
    color: #131313;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;

      @include _970 {
        font-size: 22px;
      }

      @include _800 {
        font-size: 20px;
      }

      @include _450 {
        font-size: 18px;
      }

      @include _370 {
        font-size: 14px;
      }

      span {
        color: #949494;
        text-transform: lowercase;
        font-size: 20px;
        font-weight: normal;

        @include _970 {
          font-size: 22px;
        }

        @include _800 {
          font-size: 20px;
        }

        @include _450 {
          font-size: 18px;
        }

        @include _370 {
          font-size: 14px;
        }
      }
    }

    p {
      font-size: 16px;
      margin-bottom: 15px;

      @include _970 {
        font-size: 14px;
        margin-bottom: 13px;
      }

      @include _800 {
        font-size: 16px;
        margin-bottom: 14px;
      }

      @include _600 {
        font-size: 14px;
        margin-bottom: 13px;
      }

      @include _450 {
        font-size: 13px;
        margin-bottom: 11px;
      }

      @include _370 {
        font-size: 10px;
        margin-bottom: 10px;
      }

      span {
        color: #949494;
        text-transform: lowercase;
      }
    }

    .rating {
      font-size: 18px;
      font-weight: bold;

      @include _970 {
        font-size: 16px;
      }

      @include _800 {
        font-size: 18px;
      }

      @include _600 {
        font-size: 16px;
      }

      @include _450 {
        font-size: 14px;
      }

      @include _420 {
        font-size: 12px;
      }

      @include _370 {
        font-size: 11px;
      }
    }

    .address {
      margin-bottom: 30px;
      font-weight: bold;

      @include _970 {
        margin-bottom: 24px;
      }

      @include _800 {
        margin-bottom: 20px;
      }

      @include _600 {
        margin-bottom: 18px;
      }

      @include _450 {
        margin-bottom: 16px;
      }

      @include _370 {
        margin-bottom: 14px;
      }
    }
  }

  img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;

    @include _600 {
      width: 150px;
      height: 150px;
    }

    @include _550 {
      width: 100px;
      height: 100px;
    }
  }
}

$border-color: #d2d2d2;
$border-color-hover: #7e7e7e;
$input-background: #fff;

.button-back {
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: 7px 10px;
  cursor: pointer;
  background-color: $input-background;
  margin-bottom: 10px;

  &:hover {
    background-color: $border-color;
    border-color: $border-color-hover;
    transition: background-color 0.3s ease-in-out;
  }
}