@import "../../media_mixin.scss";

.RestaurantCard {
  padding: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: rgba(#ffffff, 0.3);
  box-shadow: 1px 2px 20px darken(#ffffff, 30);

  .textbox {
    color: #131313;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;

      @include _970 {
        font-size: 16px;
      }

      @include _800 {
        font-size: 18px;
      }

      @include _450 {
        font-size: 14px;
      }

      span {
        color: #949494;
        text-transform: lowercase;
        font-size: 20px;
        font-weight: normal;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 15px;

      @include _970 {
        font-size: 12px;
      }

      @include _800 {
        font-size: 14px;
      }

      @include _450 {
        font-size: 11px;
      }

      span {
        color: #949494;
        text-transform: lowercase;
      }
    }

    .rating {
      font-size: 18px;
      font-weight: bold;
    }

    .address {
      margin-bottom: 30px;
      font-weight: bold;
    }

  }

  img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;

    @include _970 {
      width: 80px;
      height: 80px;
    }

    @include _800 {
      width: 90px;
      height: 90px;
    }

    @include _450 {
      width: 70px;
      height: 70px;
    }
  }

}
