header {
  width: 100%;
  height: 325px;
  background: url("../../assets/images/Black_Ceramic_Bowl_With_Food.jpg") no-repeat scroll -50px -300px;
  background-size: 1120px;
}

h1 {
  color: #bdbdbd;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  text-align: right;
  padding: 60px 30px;
}