header {
  width: 100%;
  height: 400px;
  background: url("../../assets/images/Canva\ -\ Black\ Ceramic\ Bowl\ With\ Food.jpg") no-repeat fixed 80px -300px;
  background-size: cover;
}

h1 {
  color: #bdbdbd;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  text-align: right;
  padding: 40px 30px;
}