@import "../../../media_mixin.scss";

// * {
//   box-sizing: border-box;
//   border: 1px solid red;
// }

.searchCategories {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 20px;
  justify-content: space-around;
}
