@import "../../media_mixin.scss";

$border-color: #d2d2d2;
$border-color-hover: #7e7e7e;
$input-background: #FFF;


.filterSearchBox {
  font-size: 15px;

  @include _1085 {
    font-size: 14px;
  }

  @include _1040 {
    font-size: 13px;
  }

  @include _970 {
    font-size: 14px;
  }

  .filterBox {
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 20px;
    margin-bottom: 20px;

    @include _970 {
      text-align: center;
      height: auto;
    }

    @include _550 {
      display: block;
    }

    p,
    label {
      display: flex;
      margin-right: 5px;

      @include _970 {
        display: block;
      }
    }

    .filterItem {
      display: flex;
      cursor: pointer;
      margin-right: 5px;

      @include _970 {
        margin-bottom: 10px;
        margin-right: 20px;
        display: inline-block;
      }

      @include _550 {
        display: flex;
      }

      &:hover {

        select,
        input {
          border-color: $border-color-hover;
        }
      }

      select {
        border: 1px solid $border-color;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        background: $input-background;
        padding: 2px 7px;
        box-sizing: border-box;
        height: 22px;
        font-size: 13px;

        @include _1085 {
          font-size: 12px;
          height: 21px;
        }

        @include _1040 {
          font-size: 11px;
          height: 20px;
        }

        @include _970 {
          height: 22px;
          font-size: 13px;
        }

        @include _650 {
          height: 20px;
          font-size: 11px;
        }

        &:hover {
          border-color: $border-color-hover;
        }
      }
    }
  }

  .isOpenCheckbox {
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;

    &:hover input[type=checkbox] {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border: 1px solid $border-color-hover;
        top: 0;
        left: 0;
        background: $input-background;
        border-radius: 2px;
      }
    }

    label {
      margin-right: 5px;
      cursor: pointer;
    }

    input[type=checkbox] {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;
      outline: none;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border: 1px solid $border-color;
        top: 0;
        left: 0;
        background: $input-background;
        border-radius: 2px;
      }

      &:checked {
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $input-background;
          background-image: url(../../assets/images/check.svg);
          border-color: $border-color-hover;
        }
      }
    }
  }

  .searchResetWrap {
    display: flex;
    justify-content: space-between;

    @include _420 {
      display: block;
    }

    .searchBar {
      display: flex;
      width: 50%;

      input {
        height: 30px;
        padding: 7px 10px;
        box-sizing: border-box;
        border: 1px solid $border-color;
        border-radius: 2px;
        display: inline-block;
        flex: 1;

        @include _420 {
          margin-bottom: 10px;
        }

        &:hover,
        &:focus {
          border-color: $border-color-hover;
        }
      }
    }

    button {
      border: 1px solid $border-color;
      border-radius: 2px;
      padding: 7px 10px;
      cursor: pointer;
      background-color: $input-background;

      &:hover {
        background-color: $border-color;
        border-color: $border-color-hover;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}