@import "../../media_mixin.scss";

$main_text-color: #131313;

ul {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;

  @include _800 {
    display: block;
  }
}

.ListItem {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;

  &:hover {
    background-color: rgba(#ffffff, 0.3);
    box-shadow: 1px 2px 20px darken(#ffffff, 30);
  }

  p {
    font-size: 14px;
    color: $main_text-color;

    @include _970 {
      font-size: 12px;
    }

    @include _800 {
      font-size: 14px;
    }

    @include _450 {
      font-size: 11px;
    }
  }

  .textbox {
    flex: 1;

    h2 {
      font-size: 20px;
      font-weight: 300;
      color: $main_text-color;
      margin-bottom: 5px;

      @include _970 {
        font-size: 16px;
      }

      @include _800 {
        font-size: 18px;
      }

      @include _450 {
        font-size: 14px;
      }
    }

    .isOpen {
      margin-top: 5px;

      p {
        letter-spacing: 1px;
        font-weight: bold;

        &.open {
          color: #478b28;
        }

        &.closed {
          color: #d34129;
        }
      }
    }

    .price {
      margin-top: 7px;
      color: #6f6f6f;
    }
  }

  img {
    display: block;
    width: 100px;
    height: 100px;
    text-align: right;
    object-fit: cover;
    margin-right: 10px;

    @include _970 {
      width: 80px;
      height: 80px;
    }

    @include _800 {
      width: 90px;
      height: 90px;
    }

    @include _450 {
      width: 70px;
      height: 70px;
    }
  }

  .rating {
    margin-left: 10px;

    .rating-number {
      padding: 5px;
      font-weight: bold;
      border-radius: 1px;
    }
  }
}

.preloader-wrapper {
  margin-top: 50px;
}

.preloader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
