@import "../../../../media_mixin.scss";

.categoryCard {
  width: 150px;
  background-color: #4c9774;
  font-size: 24px;
  font-weight: 300;
  color: #131313;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}
.categoryCard input:checked {
  background-color: green;
}

.categoryCheckbox {
  appearance: none;
  background-color: rgba(#ffffff, 0.3);
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;

  &::checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
      inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
  }
}

.categoryCheckbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

.categoryName {
  margin-left: 15px;
}
