@import "../../../media_mixin.scss";

.searchField {
  display: flex;

  .search {
    width: 50%;
    height: 50px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #636363;
    border-right: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: #ebebeb;

    &:active,
    &:focus {
      background: rgba(255, 255, 255, 0.8);
      color: #3a3a3a;
    }
  }
  ::placeholder {
    color: #ebebeb;
    padding-left: 10px;
  }
  input:focus::placeholder {
    color: transparent;
  }

  button {
    font-size: 28px;
    padding: 3px 7px;
    box-sizing: border-box;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #636363;
    border-left: none;

    i {
      color: #bdbdbd;
    }
  }
}
