@import "./media_mixin.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #2b2b2b;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 80%;
  height: 100%;
  box-shadow: 1px 2px 60px darken(#2b2b2b, 50);
}

main {
  background: #eee;
  padding: 20px 40px;

  @include _800 {
    display: block;
  }
}
